.accounts-page {
    padding: 20px;
  }
  
  .account-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    margin-left: 20px; /* Add margin to push right */
  }
  
  .user-image {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .user-details p {
    margin: 0;
  }
  
  .logout-button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .account-content {
    display: flex;
    justify-content: space-between;
  }
  
  .left-column, .right-column {
    width: 48%;
  }
  
  .digital-library, .shipping-info, .payment-method {
    background-color: #fbfbfb; /* Light gray background */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 2px solid #bbb; /* Bolder border */
  }
  
  .wishlist, .order-history {
    background-color: #e0e0f8;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
  }
  
  .wishlist-item, .order-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #686868;
  }
  
  .wishlist-item span {
    flex-grow: 1;
    text-align: left;
  }
  
  .accounts-page .add-to-cart-button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-right: 10px;
  }
  
  .accounts-page .cart-icon {
    width: 20px; /* Adjust size as needed */
    height: 22px;
    margin-right: 5px; /* Increase margin for spacing */
  }
  
  .accounts-page .add-text {
    color: #aaa; /* Soft gray color */
    font-size: 12px; /* Adjust size as needed */
  }
  
  .accounts-page .remove-icon {
    width: 16px; /* Adjust size as needed */
    height: 16px;
    cursor: pointer;
  }
  
  .remove-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
  }
  
  .wishlist-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .wishlist-header h4 {
    margin: 0;
    text-align: left;
  }
  
  .expand-icon {
    width: 16px; /* Adjust size as needed */
    height: 16px;
    cursor: pointer;
  }
  
  .shipping-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .shipping-header h4 {
    margin: 0;
    text-align: left;
    flex-grow: 1;
  }
  
  .add-text {
    color: #aaa; /* Soft gray color */
    font-size: 12px; /* Adjust size as needed */
    margin-right: 5px;
  }
  
  .add-icon {
    width: 16px; /* Adjust size as needed */
    height: 16px;
    cursor: pointer;
  }
  
  .add-container {
    display: flex;
    align-items: center; /* Aligns items vertically */
  }
  
  .payment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .payment-header h4 {
    margin: 0;
    text-align: left;
    flex-grow: 1;
  }