/* src/components/BookCard.css */

.book-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 150px;
    text-align: center;
    margin: 10px;
  }
  
  .book-cover {
    width: 150px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .book-title {
    margin-top: 8px;
    font-size: 1.1em;
    text-align: center;
  }
  
  .book-author {
    font-size: 0.9em;
    color: #555;
    text-align: center;
  }
  