.cart-page {
  padding: 20px;
  color: #333;
  text-align: center;
}

.cart-title {
  font-size: 1.5em;
  color: #6666ff;
  margin-bottom: 20px;
}

.cart-container {
  background-color: #e6e6fa;
  padding-top: 20px;
  border: 1px solid #000;
  width: 70%;
  margin: 0 auto;
  border-radius: 0;
}

.cart-header {
  display: flex;
  justify-content: flex-end;
  margin-right: 3.8vw;
  font-weight: bold;
  color: #6666ff;
}

.cart-list {
  list-style-type: none;
  padding: 0;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
}

.remove-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.cart-item-image img {
  width: 50px;
  height: 5em;
}

.cart-item-details {
  flex-grow: 1;
  text-align: left;
  margin-left: 20px;
}

.cart-item-price {
  margin-right: 20px;
  font-size: 1.2em;
}

.cart-actions {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  margin-left: 3vw;
  margin-right: 2vw;
  align-items: center;
}

.ship-button, .pickup-button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #333;
  color: white;
}

.cart-subtotal {
  background-color: #d3d3d3;
  padding: 10px;
  margin-top: 20px;
  text-align: right;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #000;
  font-size: 1.2em;
  font-weight: bold;
  position: relative;
}

.pickup-button.active {
  background-color: #d3d3d3;
  color: #333;
}

.cart-tax {
  margin-left: auto;
  font-size: 1.2em;
  display: inline-block;
}

.purchase-button {
  padding: 10px 20px;
  background-color: pink;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  width: auto;
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: 0;
}

.cart-subtotal .purchase-button {
  display: block; /* Show when pickup is active */
}

.cart-subtotal span {
  font-size: 1.2em; /* Default size for Subtotal */
}

.cart-subtotal .total-text {
  font-size: 1.2em; /* Larger size for Total */
  margin-right: 10px; /* Move to the left */
}

.cart-shipping {
  font-size: 1.2em;
  text-align: right;
  margin-right: 2vw;
}

.cart-login-button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #333;
  color: white;
  margin-left: 10px;
}

.cart-shipping-row {
  margin-top: 10px;
  text-align: right;
  width: 100%;
}
