.genres-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.genres-header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.genres-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8vw;
  justify-items: center;
  margin-top: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.genre-card {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 200px;
  height: 250px;
}

.genre-card img {
  width: 150px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.checkbox-container {
  margin-left: 0%;
}

.search-bar,
.sort-dropdown {
  display: flex;
  align-items: center;
}

.sort-dropdown select {
  padding: 5px;
  border-radius: 5px;
}

.genres-search-bar input {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  width: 35vw;
}

.genre-sort-dropdown {
  display: flex;
  align-items: center;
  margin-top: 22px;
  margin-left: 10px;
  justify-content: center;
}

.genre-sort-dropdown select {
  padding: 5px;
  border-radius: 5px;
}

.genre-sort-dropdown label {
  margin-right: 10px; /* Add space between the label and the dropdown */
}