.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  padding: 20px 40px;
}

.logo {
  margin-right: auto;
  padding-left: 10px;
}

.logo img {
  width: 100px;
  height: auto;
}

.nav-buttons {
  display: flex;
  gap: 20px;
}

.nav-button {
  position: relative;
}

.nav-button button {
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
  padding: 10px 20px;
}

.nav-button button:hover {
  color: #ff6347;
  transform: scale(1.1);
}

.home-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.books-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100vw;
  transform: translateX(-25%);
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.nav-button:hover .home-dropdown {
  display: block;
}

.nav-button:hover .books-dropdown {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.home-dropdown ul, .books-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: contents;
}

.home-dropdown li, .books-dropdown li {
  padding: 8px 0;
}

.home-dropdown a, .books-dropdown a {
  color: #fff;
  text-decoration: none;
  display: block;
}

.home-dropdown a:hover, .books-dropdown a:hover {
  background-color: #444;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #e0e0f8;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 0 auto;
  width: 35%;
}

.search-bar input {
  border: none;
  background: transparent;
  outline: none;
  padding: 10px;
  color: #333;
  width: 100%;
}

.search-bar button {
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
  margin-right: auto;
}

.cart-profile {
  display: flex;
  align-items: center;
}

.cart-profile img {
  height: 30px;
  margin-right: 10px;
}

.cart-profile span {
  color: #fff;
  margin-right: 20px;
}