/* src/pages/LandingPage.css */
.landing-page {
    font-family: Arial, sans-serif;
}

.main-content {
    padding: 20px;
    text-align: center;
}

.hero {
    margin-bottom: 40px;
    text-align: center;
}

.hero h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.hero p {
    color: #555;
    margin-bottom: 20px;
}

.trending-books {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.book-card {
    width: 200px;
    height: 300px;
    padding: 10px;
    text-align: left;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.book-image-placeholder {
    height: 100px;
    background-color: #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
}

.additional-books {
    margin-top: 40px;
}

.additional-books h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.book-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.trending-books-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-left: 10%;
}

.slick-slider {
    display: block;
    margin: 0 auto;
}

.slick-dots {
    width: 80% !important;
}